/*MOBILE FIRST es una f칩rmula para priorizar la visualizaci칩n en m칩viles; para cumplirlo se utiliza el min-width y se va adaptando para pantallas m치s grandes*/
@media (min-width: 992px) {
.logo a {
    text-decoration: none;
    color: #1e6f5c;
    height: 100px;
    font-size: 2.5em;
    
}
span.logo-sub {
    font-size: 1em;
    
}
.menu {
    float: right;
    height: 78px;
    width: 780px;
    position: static;
    text-align: center;
}
}



/*Cuando se reduce el ancho de pantalla aproximadamente a 1048px encontramos un problema con la 
barra de navegacion, ya que esta, empieza a pisarse. Por lo tanto, lo que vamos a hacer es que cuando esta
resolucion se alcance, la barra de menu cambia de disposicion a display block position absolute
colocandose en vertical, y la esconderemos (transform:translateX(suficiente distancia en pixeles
para esconderla)  para que solamente se vea cuando pulsemos un boton que  se va a introducir en el lado 
izquierdo superior y que se pondra a la escucha mediante JS, asi que pulsemos ese boton, el menu aparecera*/

@media (max-width: 1048px) {
    .container{
        margin: 0 auto;
    }
    .menumovil {
      display: block;
    }
    .menumovil:hover {
        opacity: 0.5;
      }
/* Decimos que este menu va a tener una ocupacion en la pantalla en principio de estos valores, mas tarde para otros dispositivos, los variaremos. */
    ul.menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        margin-top: 0;
        top: 0;
        left: 0;
        background: #1b1b1b;
        justify-content: space-evenly;
        width: 50%;
        height: 100vh;
        opacity: 0.7;
        /*Con transform translateX movemos el menu entero en el eje de coordenadas X para ocultarlo*/
        transform: translateX(-100%);
        /*Con transition transform le damos un poco de suavidad a la hora de sacar y meter el menu con el boton*/
        transition: transform 0.5s ease-in-out;
      }
      
      .container ul.menu li {
        display: block;

      }

      .menu-item a{
        font-size: 1.5em;
        color: #f3f3ee;
        height: 50px;
        display: block;
        line-height: 50px;
        text-transform: uppercase;
        padding-left: 15px;
          
      }
     
    
      /*Con la clase show llamamos al JS para que interactue con la barra menu y le decimos que vuelva 
      a mover este menu a -20px */
      ul.menu.show {
        transform: translateX(0%);
      }
    }
    
    

/* 
 Adaptabilidad para Iphone 12 pro en modo horizontal
*/

/* Cuando se hacen las adaptabilidades a diferentes medios moviles, tablets, moviles,etc, hay que tener 
cuidado a la hora de colocar estas reglas, ya que un orden no adecuado, hacen que estas se pisen y 
desordenen de una forma los estilos que no es el resultado que buscas . La forma de adaptar, es ir viendo
en el navegador de Chrome o algun otro programa como va variando la composicion de nuestra pagina web al 
cambiar la resolucion e ir adaptando estos cambios para realizar un posicionamiento de nuestros items correcto*/

@media (min-width: 390px) and (max-width: 844px) and (orientation: landscape) {
.menu {
    max-width: 65%;
  }

.container{
  max-width: 90%;
}
.recetas-mes {
    width: 100%;
    justify-content: center;
  }
aside{
  width: 90%;

}
.titulo-aside{
  height: 500px;
}
.titulo-aside h2{
  margin-top: 400px;
}

}

/* 
 Adaptabilidad para Iphone 12 pro en modo vertical
*/
@media (min-width: 390px) and (max-width: 844px) and (orientation: portrait) {

  .container{
    max-width: 90%;
  }
  .menu {
    max-width: 70%;
  }
  .recetas-mes {
    width: 100%;
    justify-content: center;
  }
  aside{
    width: 90%;
  }

.titulo-aside{
  background: url("images/Thermomix3.jpg");
  background-size: contain;
  height: 140px;
}

.titulo-aside h2{
  
  margin-top: 70px;
  font-size: 13px;

}
.boton1{
  
  padding: 5px 2px;
  font-size: 10px;
  border: 1px solid blanchedalmond;
}
.container ul.menu {
  width: 100%;
}
}


/* 
  Adaptabilidad para Ipad en modo horizontal
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .menu {
    width: 70%;

  }  
.container{
  max-width: 90%;
}
.recetas-mes {
    width: 100%;
    justify-content: center;
  }
aside{
  width: 20%;

}
.titulo-aside{
  
  height: 500px;
}
.titulo-aside h2{
  
  margin-top: 400px;

}
}

/* 
  Adaptabilidad para Ipad en modo vertical
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container{
    max-width: 90%;
  }
  .recetas-mes {
    width: 100%;
    justify-content: center;
  }
  aside{
    width: 20%;
  }
.titulo-aside{
  background: url("images/Thermomix3.jpg");
  background-size: contain;
  height: 300px;
}

.titulo-aside h2{ 
  margin-top: 230px;

}
.menu {
  width: 70%;
}

}

/* 
 Adaptabilidad para pantallas grandes
*/

@media (min-width: 1281px) {
  
 
  
}





