/* El selector * nos indica que todo el documento se verá afectado por estos parametros */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Damos formato a los bloques principales de forma general, despues con cada selector, los iremos variando */
  body {
    font-family: "Oswald", sans-serif;
    
   
    
    color: #1e272e;
    
    font-size: 16px;
  }
  
  a {
    color: #1e272e;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  
 
  
  
  /* SHOWCASE */
  /* Aqui damos formato al  showcase, definimos su tamaño y le damos de fondo una imagen acorde con el tema*/
  .showcase {
    width: 100%;
    
    
    
    /* Justificamos el contenido al final */
    
    
  }

  .showcase img{
      width: 100%;
  }
  
 
  /* Aqui viene la parte de la portada con un titulo y una explicacion del contenido de la pagina */
  
  .portada {
    margin: 10px  40px;
    text-align: center;
  }
  .portada h3 {
      margin-top: 40px;
      font-family: sans-serif ;
      font-size: 40px;
  }
  .portada p{
      margin: 30px 20px;
     text-align: justify;
  }
  
  
  
  /* Ahora damos formato a las noticias o consejos, le damos un formato grid y con grid template definimos
  que van a ser columnas, en concreto 4 columnas por linea  */
  .recetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* distancia entre columnas */
    gap: 25px;
    margin: 70px 20px;
    
  }
  
  .recetas img {
    width: 100%;
    height: 220px;

  }
  
  .recetas h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .recetas a {
    padding: 10px 0;
    color: #1e272e;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
  
  
  /*Aqui establecemos los estilos para las paginas del submenu recetas*/
  /*  BANNER BEBE */
  .bannerbebe {
    width: 100%;
    height: 450px;
    background: url("images/recetasbebebanner.jpg") no-repeat center center/cover;
  }
  
  .bannerbebe .content {
      /* Decimos que el contenido del banner solo ocupe la mitad */
    width: 50%;
    padding: 290px 0 0 30px;
  }
  .bannerbebe a, p{
      margin-top: 20px;
  }

  /*  BANNER NIÑOS */
  .bannerniños {
    width: 100%;
    height: 450px;
    background: url("images/bannerrecetasniños.jpg") no-repeat center center/cover;
    background-size: contain;
  }
  
  .bannerniños .content {
      /* Decimos que el contenido del banner solo ocupe la mitad */
    width: 50%;
    padding: 30px 0 0 30px;
  }
  .bannerniños a, p{
      margin-top: 10px;
  }

    /*  BANNER FAMILIARES*/
    .bannerfamiliares {
      width: 100%;
      height: 750px;
      background: url("images/bannerrecetasfamiliares.jpg") no-repeat center center/cover;
    }
    
    .bannerfamiliares a, p{
        margin-top: 20px;
    }