    /* border-box le dice al navegador tomar en cuenta para cualquier valor que se especifique de borde
     o de relleno para el ancho o alto de un elemento. Es decir, si se define un elemento con un ancho
      de 100 pixeles. Esos 100 pixeles incluíran cualquier borde o relleno que se añadan, y la caja
       de contenido se encogerá para absorber ese ancho extra. Esto típicamente hace mucho más fácil
        dimensionar elementos. */

/*Para todo el documento definimos unos estilos muy genéricos*/

* {box-sizing: border-box;}

html {
    /* La propiedad overflow permite regular la visiblidad de los contenidos que sobresalen de una caja html. */
    overflow-x: hidden;
    font-family: serif;
}
html, footer, ul {
    /*Un elemento block siempre tiene algo de espacio por encima y debajo, que lo separa de los demás elementos, y no acepta ningún otro elemento a su lado - si no está indicado de otra manera ( float ).*/
    display: block;
}
body {
    background-color: #f3f3ee;
    color: #1b1b1b;
    font-family: georgia, serif;
    font-size: 1.1em;
    
}
/*Definimos el contenedor para toda la página al 90%*/
.container {
    max-width: 90%;
    margin: 0 auto;
}
.container::after {
    /* Both es un keyword que indica que el elemento es movido hacia abajo para limpiar tanto elementos 
    flotantes de la izquierda como de la derecha. */
    clear: both;
    /* La propiedad display: table-cell hace que cualquier elemento se muestre como si fuera una celda
     de una tabla.  */
    display: table;
    content: "";
}
h1, h2, h3, a {
    font-family: sans-serif;
}
p {
    font-size: 1em;
    /*le damos un alto de líena un poco más espacioso*/
    line-height: 150%;
}   

a, a:focus, a:hover {
    text-decoration: none;
}

header {
    width: 100%;
    /*La posicion sticky obliga a que el header siempre está presente en la pagina web aunque 
    naveguemos hacia abajo en ella*/
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. 
    Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. Le damos un valor alto. */
    z-index: 1000;
    background-color: #f3f3ee;
    margin-bottom: 20px;
    
}

/*--ESTILOS PARA EL NAV ---*/
/*en genérico vamos a darle estilo al nav dentro del contenedor del header*/

nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    /*para que separe el logo del menú y deje un espacio entre*/
    justify-content: space-between;
    border-bottom: 2px solid #d8dac9;
    
}
/*los siguientes estilos son para la tipografia genérica del logo y sub-logo*/
.logo {
    font-family: Georgia,serif;
    line-height: 20px;
    font-weight: 500;
    float: left;
    margin: auto 0;
}
.logo a {
    text-decoration: none;
    color: #1e6f5c;
    height: 80px;
    font-size: 1.9em;
    
}
span.logo-sub {
    color: #289672;
    font-size: 0.8em;
    font-style: italic;
    padding-top: 0.5em;
    display: block;
}

ul {
    /* La propiedad list-style  se utiliza habitualmente cuando no se quiere mostrar ningún 
    marcador en los elementos de una lista: */
    list-style-type: none;
    font-size: 1em;
    line-height: 150%;
    
}
.is-active a.menu-item-link {
    
    color: #29bb89;
}
a.menu-item-link:hover {
  
    color: #29bb89;
    
}
/* Li con inline-block y posición relative*/
li.menu-item {
    text-align:center;
    display: inline-block;
    position: relative;
}
a.menu-item-link {
    color: #1b1b1b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0 25px;
}

a.Inicio, a.Recetas, a.Nutricion, a.Nosotros, li.search {
    width: auto;
}

/*para el símbolo de buscar*/
button {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    /* 'inherit' significa que, para un elemento determinado, la propiedad toma el mismo valor computado 
    que la propiedad del padre del elemento */
    line-height: inherit;
}

/*hamburguesa versión móvil*/

.menumovil{
    /* Muestra el puntero al posicionarnos encima */
    display: none; 
    z-index: 2;
/* Con esto conseguimos hacer invisible el boton, hasta que la media querie actue */
}

/* ----MENU DESPLEGABLE-------*/


/*para los submenús damos a los elementos padres(li) una posición relative y a los elementos hijos(.submenu) absolute*/
.submenu  {
    /*Le decimos display none para que no lo muestre hasta que pasemos el mouse por encima del elemento
    que después definiremos*/
    display:none;
    position:absolute;
    padding: 0px;
    left: 0;
    background-color: #f3f3ee;
    width: 100%;
    z-index: 1;
    
   }
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
ul.submenu a {
    display: block;
}
   
   /* items del menu desplegable */
   
.submenu  li {
    /*Le decimos un ancho minimo para que no se descuadre con nombres mas pequeños*/
    min-width:140px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.9em;
    
   }

   
   /* enlaces de los items del menu desplegable */
   
.submenu a {
    /*Decimos un display block para que se situe en vertical*/
    color: #1b1b1b;
    display: block;
    padding:5px 5px;
    /*Le aplicamos una transicion para que los items del menu se seleccionen mas despacio*/
    transition: all .8s;
   }
   
   /* items del menu desplegable al pasar el ratón */
.submenu a:hover {
    color: #289672;
}

   /*Aqui es donde definimos que salga el menu cuando pasamos el mouse por el elemento li */
.menu li:hover .submenu {
    display:block;
   }

/*Fin del menu desplegable Nutricion*/
 
/*---lista de recetas en portada----*/
.recetas-mes {
    width: 70%;
    float: left;
}


/*PARTE ASIDE*/

aside {
    /* Se situa en el aside alineado a la derecha para separarlo al máximo de la sección recetas del mes */
    float: right;
    width: 20%;
}


.titulo-aside{
   
    text-align: center;
    align-items: center;
    background: url('images/thermomix2.jpg'); 
    /*Colocamos una imagen de fondo */
    background-size: auto;
    margin-bottom: 20px;
    
}
.titulo-aside p{
    background: blanchedalmond;
    color: brown;
}
.titulo-aside h2{
    background: blanchedalmond;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 275px;
    margin-bottom: 0px;

}
.boton1{
    /*Que se muestre el puntero al situarnos sobre el*/
    cursor: pointer;
    display: inline-block;
    border: 1;
    font-weight: bold;
    /*En el padding el primer numero significa arriba y abajo y el segundo hacia los lados*/
    padding: 10px 5px;
    background: brown;
    color: blanchedalmond;
    font-size: 15px;
    border: 3px solid blanchedalmond;
    
    
    
}
.boton1:hover{/*Con hover le damos dinamismo a nuestro boton*/
    /*Opacidad al colocar el puntero encima*/
    opacity: 0.4;
}

/*------------------------------------------AQUI TERMINA EL ASIDE-------------------------------------------*/


.list-i {
    background: rgba(255,255,255,0.6);
    border: 1px solid #D8DAC9;
}


/*---------------------------------------------banner publicidad central----------------------------------*/
.container-banner {
    background-color: #29bb89;
    display: inline-block;
    position: relative;
    width: 100%;

}
.container-banner a {
    text-decoration: none;
    text-transform: uppercase;
    color: #D8DAC9;
    font-style: italic;
    

}
.tittle-banner {
    text-align: center;
}
.subtittle-banner {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*-----------------------------------------hasta aqui el banner-------------------------------------------*/

/*-------------------------------------Segunda fila de recetas---------------------------------------------*/
.h2-galeria {
    font-family: Georgia;
    color: #1e282f;
    text-transform: none;
    text-align: center;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 1px;
    
   
}
.contenedor-galeria {
     border-bottom: 1px solid #d8dac9;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
span.subtittle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a3865b;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    margin-top: 5px;
}
div.gallery {
  margin: 1.5em;
}

.gallery img {
    width: 100%;
    max-width: 330px;
}

div.desc {
  padding: 15px;
  text-align: center;
}



/*----------------------------------------ESTILOS PARA LOS TIPS DE NUTRICIÓN------------------------------*/
.tips {
    /* El valor relative en el atributo position indica que la capa sí forma parte del flujo normal 
    de elementos de la página, por lo que su posición dependerá del lugar donde esté en el código y
     el flujo HTML. */
    position: relative;
    height: 30em;
    width: 30%;
    float: left;
}
.link-tip-izq {
    position: absolute;
    left: 0%;
    top: 0;
    background-color: #009589;
    padding: 30px 20px;
    color: #fff;
    text-align: center;
    height: 20.45em;
}
.link-tip-center {
    
    position: absolute;
    left: 100%;
}
.link-tip-center-down {
    
    position: absolute;
    left: 100%;
    top: 190px;
}

.tip-tittle {
    font-size: 2em;
    position: relative;
    display: inline-block;
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-size: 2.5em;
}
span.divisor {
    display: block;
    width: 18px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 2px dotted #fff;
}
.tip-image{
    width: 250px;
    height: 188px;
}



/*---------------------------------------------ESTILOS PARA EL FOOTER--------------------------------------*/

footer {
    border-top: 1px solid #d8dac9;
    width: 100%;
}
.footer-box-right {
    float: right;
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    width: 45%; 
    margin: 2.5em auto;
    
}
.footer-box-left {
    float: left;
    width: 45%;
    
}
/* --------------------------------------------PARTE REDES SOCIALES----------------------------------------*/

.social{
    /*Dejamos un margen de 50px arriba y abajo con esta seccion*/
    margin: 50px 0;
}
.social p{
    /*Cambiamos el estilo del p de esta seccion*/
    font-family:sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #289672;
    text-transform: uppercase;
}
.links{
    /*Hacemos una disposicion flex del contenido de contenedor div y alineamos los items en el centro*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    /*Las anclas que contienen los fab, le dejamos un margen de cero pixeles arriba y abajo y 30px a los lados*/
    margin: 0 30px;
}
.links i{
    /*Damos formato a los fab*/
    color:grey;
    font-size: 2rem;
}
/*Fin parte redes sociales*/


p.heading-footer {
    text-transform: uppercase;
    color: #289672;
    
}
.newsletter-block {
    overflow: auto;
    display: block;
    height: 2rem;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: inline;

}

form.subscribe button:hover {
  background: #134b38;
}

form.subscribe input[type=text] {
    color: rgba(90,90,90,.7);
    padding: 10px;
    font-size: 17px;
    border: 2px solid #289672;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.subscribe button {
  float: left;
  width: 20%;
  padding: 10px;
  border: 2px solid #289672;
  background-color: #289672;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}
form.subscribe::after {
  content: "";
  clear: both;
  display: table;
}

.privacidad a {
    color: #1b1b1b;
    font-style: italic;
    font-weight: bold;
    
}

.footer-copyright {
    text-align: center;
    border-top: 1px solid #D8DAC9;
    clear: both;
    font-size: 0.8em;
    font-family: sans-serif;
    line-height: 170%;
    margin-top: 40px;
    padding-top: 20px;
}
.footer-punto {
    color: #7EA684;
    padding: 0 15px;
}
.footer-box {
    float: left;
    margin-bottom: 0;
    
}

/*-------------------------------------------ACABA EL ESTILO DE FOOTER------------------------------------*/


/* ----------------AQUI VAMOS A ESTABLECER LOS ESTILOS DE LOS FORMULARIOS------------------------------- */

.formulario h1{
    text-align: center;
}

.contenedor{
   
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  .contenedor input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  .acepto{
      width: 100%;
      display:block;
      text-align: center;
     
  }
  .segundogrupo{
      text-align: center;
      
  }

  /* -------------------------------FIN DE ESTILOS EN LOS FORMULARIOS ------------------------------------*/


  /* -------------------------------------ESTILO QUIENES SOMOS --------------------------------------------*/

  .quienessomos{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
  }
  .quienessomos h1{
      font-size: 50px bold ;
  }